.thumbnail{
    text-align: center;
}

body{
    padding-top: 70px;
}

li{
    text-align: left;
}

h1{
    font-weight: 700;
    width: 100%;
    /* white-space: nowrap; */
}

hr{
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rbga(0,0,0,0.2);
}