.thumbnail{
    text-align: center;
}

.jumbotron{
    font-weight: 700px;
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
    background: #ecf0f1;
    color: #2c3e50;
    padding-top: 0px;
    padding-bottom: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.bold{
    font-weight: bold;
}

body{
    padding-top: 70px;
}

li{
    text-align: left;
}

h1 h3{
    font-size: 3em;
}
hr{
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rbga(0,0,0,0.2);
}
