<h1>Search for a Movie!</h1>
<h3>http://www.omdbapi.com/</h3>
<form action ="/results" method = "GET">
    <input type="text" name = "searchQuery" placeholder = "Search Term">
    <input type = "submit">
</form>