body{
    background: #EAE6DA;
    /* #F0EDE5 - Coconut Milk */
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.delete-form{
    display: inline;
}
/* Google Maps */
#map{
    height: 400px;
    width: 100%;
}