<% include partials/header.ejs %>
<h1>You love <%= thingInput.toUpperCase() %> </h1>
<% if(thingInput.toLowerCase() === "dogs"){ %>
    <p>Me Too!</p>

<% } else { %>
    <p>Good Choice!</p>
<% } %>


<p>Message from the love.ejs file</p>

<% include partials/footer.ejs %>