body{
    background-color: #232323;
    margin: 0px;
    font-family: "Montserrat","Avenir";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%; /*Rounds Corners*/
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.selected{
    color: white;
    background-color: steelblue;
}

#container{
    margin: 20px auto; /*20px on top and bottom, auto for left and right*/
    max-width: 600px;
}

#message{
    display:inline-block;
    width: 20%;
}

#stripe{
    height: 30px;
    background-color: white;
    text-align: center;

}

#colorDisplay{
    font-size: 200%;
}

h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: normal;
    color:white;
    background-color: steelblue;
    margin: 0px;
    padding: 20px 0;
}

button{
    border:none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

button:hover{
    color: white;
    background-color: steelblue;
}
