<% include partials/header.ejs %>
<h1>Campgrounds Page</h1>
<a href="/campgrounds/new">Add New Campground</a>
<% campgrounds.forEach(function(campground){ %>
<div> 
    <h4><%= campground.name; %></h4> 
    <img src=" <%= campground.image %>">
</div>
<% }); %>
<% include partials/footer.ejs %>