<% include partials/header.ejs %>
<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class = "collapse navbar-collapse">
            <ul class = "navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View the best campgrounds from all over the globe!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class = "row" style = "display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail">
                    <img src=" <%= campground.image %>">
                    <div class = "caption">
                        <h4><%= campground.name; %></h4>
                    </div>
                </div> 
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer.ejs %>