<%include partials/header.ejs %>

<h1>Home Page!</h1>
<p>Welcome to YelpCamp</p>
<p>A Yelp Like Clone for Campsites</p>

<a href="/campgrounds">View All Campgrounds</a>

<%include partials/footer.ejs %>