<!DOCTYPE html>
<html lang="en">

<head>
    <title>RESTful Blog Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"> link
    <link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="comment alternate icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
        <!--ui container -->
    </div>
    <!--ui fixed inverted menu -->

    <!--partials/header.ejs-->